.main {
  padding: 6rem 6rem;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.epic {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 75vh;
  position: relative;
}

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  background-color: #f19ff3;
  border-radius: 100%;
  display: block;
  will-change: transform;
  transform: rotate(0deg) skew(0, 0) scale(10);
}

.circles li:nth-child(1) {
  animation: morphOne 30s linear forwards infinite;
  height: 61px;
  left: -18%;
  top: -4%;
  width: 89.6px;

  background-color: var(--color-green);

  opacity: 0.4;
}

.circles li:nth-child(2) {
  animation: morphTwo 30s linear forwards infinite;
  bottom: -3%;
  height: 51px;
  right: -12%;
  width: 69.6px;

  background-color: var(--color-blue);
  opacity: 0.4;
}

@keyframes morphOne {
  0% {
    transform: rotate(0deg) skew(0, 0) scale(10);
  }

  25% {
    transform: rotate(90deg) skew(3deg, 2deg) scale(10.1);
  }

  50% {
    transform: rotate(179deg) skew(0deg, 0deg) scale(10);
  }

  75% {
    transform: rotate(269deg) skew(-1deg, -2deg) scale(9);
  }

  100% {
    transform: rotate(359deg) skew(0, 0) scale(10);
  }
}

@keyframes morphTwo {
  0% {
    transform: rotate(0deg) skew(0, 0) scale(10);
  }

  25% {
    transform: rotate(-90deg) skew(-3deg, -4deg) scale(10.25);
  }

  50% {
    transform: rotate(-179deg) skew(0deg, 0deg) scale(10);
  }

  75% {
    transform: rotate(-269deg) skew(5deg, 2deg) scale(9.5);
  }

  100% {
    transform: rotate(-359deg) skew(0, 0) scale(10);
  }
}

.banner {
  background-color: var(--color-eggshell);
  border-radius: 99px 35px 99px 35px;

  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 30px;
}

.secondBanner {
  border-radius: 35px 99px 35px 99px;
}

.bannerImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
